# Eclipse 설정 파일 및 폴더
.metadata/
.settings/
.project
.classpath
.recommenders/

/src/main/webapp/.vscode/
.vscode/

# Build & Output 결과물 (Dynamic Web Project)
bin/
build/
target/
*.class

# Tomcat / 서버 로컬 세팅 및 로그
Servers/
*.log

# OS 생성 파일
.DS_Store
Thumbs.db

# JDBC 드라이버 연결파일
/src/main/webapp/META-INF/context.xml

# Gmail 계정 정보 파일
/src/main/webapp/WEB-INF/classes/mail.properties